/* محول اللغة */
.language-switcher {
    position: absolute;
    top: 50px;
    right: 10px; /* وضع محول اللغة في الجهة المعاكسة */
    z-index: 2000;
}

/* تحسين مظهر محول اللغة */
.language-switcher select {
    background-color: #6a4c9c;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* شريط الأخبار */
.news-bar {
    background-color: #6a4c9c;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.news-bar marquee {
    font-size: 18px;
}

/* شريط القوائم */
.menu-bar {
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 50px;
    padding-top: 10px;
    z-index: 1001;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-bar .menu-toggle {
    font-size: 30px;
    color: white;
    cursor: pointer;
    padding-left: 10px;
}

.menu-bar .menu {
    list-style-type: none;
    padding: 0;
}

.menu-bar .menu li a {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.menu-bar .menu li a:hover {
    background-color: #575757;
}

/* رسالة تحذيريه */
.warning-message {
    background-color: rgba(20, 2, 49, 0.55); /* خلفية بنفسجية شفافه */
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    transform:translate(-50,-50) ;
    top: 50%;
    left: 50%;
    z-index: 1000;
    display: none;
    font-size: 18px;
    border-radius: 10px; /* شكل المربع */
}

/* محتوى الصفحة */
.content {
    margin-top: 120px;
    text-align: center;
    background-color: #ececea;
    padding: 10px;
}

.content h1 {
    font-size: 36px;
}

.content p {
    font-size: 20px;
}

/* الصور المتحركة */
.animated-images {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.animated-image {
    width: 30%;
    animation: slideIn 3s ease-in-out infinite;
}

/* الرسوم المتحركة للصورة */
@keyframes slideIn {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0); }
}

/* لتفعيل ظهور شريط القوائم */
.menu-bar.show {
    display: block;
}

/* تنسيق خلفية الصفحة */
body {
    background-color: #f4f4f9;
}